@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1440px) {
  .header-container {
    width: calc(100% - 328px);
    left: 296px;
  }
}

@media (max-width: 1024px) {
  .header-container {
    width: calc(100% - 32px);
    left: 16px;
  }
}

@media (max-width: 768px) {
  .header-container {
    width: calc(100% - 16px);
    left: 8px;
  }
}

.main-container {
  @media (max-width: 1440px) {
    width: calc(100% - 328px);
    left: 296px;
  }

  @media (max-width: 1024px) {
    width: calc(100% - 32px);
    left: 16px;
  }

  @media (max-width: 768px) {
    width: calc(100% - 16px);
    left: 8px;
  }
}

